# OS
.DS_Store

# Node / Vaadin
node_modules/
frontend/generated/
src/main/frontend/generated/

# Build
target/

# IDEs
.idea/
*.iml

.vscode/

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Environment
.env